body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-color: teal;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ccf1d2;
  flex-wrap: wrap;
}

.flex-container-title {
  margin-top: 20px;
  background-color: #ccf1d2;
  justify-content: center;
  padding-bottom: 1px;
  text-align: center;
  padding: 10px;
}

div.box{
	border: 0;
	margin: 0;
}



.books {
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: #99e6b3;
	align-content: center;
	flex-wrap: wrap;
	padding-bottom: 20px;
	margin: 10px;
	width: 175px;
}

.booksb {
	width: 300px;
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: #99e6b3;
	align-content: center;
	flex-wrap: wrap;
	padding-bottom: 20px;
	margin: 10px;
}

.blogpost{
	padding: 2px;
	float: left;
	background-color: white;
	width: 500px;
	display: block;
}

.botm{
	color: black;
	padding: 10px;
}

.about{
	margin: 10px;
	padding: 10px;
}

.box{
	background-color: white;
	padding: 10px;
	margin: 30px;
}

.title{
	font-family: 'Lobster', sans-serif;
	color: teal;
	text-align: center;
	size: 10px;
}

.box2{
	background-color: #ccf1d2;
	padding-bottom: 8px;
}




header{
	background-color: teal;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 0px;
	margin: 0;
}


h1, h2{
	font-family: 'Lato', sans-serif;
}

.textbox{
	color: white;
	background-color: #6ec6ba;
	text-align: center;
	padding: 10px;
}
/* header styles*/
div{
	background-image: url(img/bookshelf.jfif);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	max-width: 100%;
	} 


header h1{
	color: white;
	font-size: 8vw;
	font-family: 'Lobster', sans-serif;
	padding: 40px 80px;
	text-decoration-style: outline 2px teal;
	text-shadow: -1px -1px 0 teal,
				 1px -1px 0 teal,
    			-1px 1px 0 teal,
   				 1px 1px 0 teal,  
   				 -2px 0 0 teal,
    			2px 0 0 teal,
    			0 2px 0 teal,
   				 0 -2px 0 teal;
}

header img{
	max-width: 100%;
	border: teal
}

header a{
	color: white
}

nav a:hover{
	opacity: .5;
	background-color: transparent;
}

nav{
	text-align: center;
	height: 40px;
	background-color: teal;
	color: white;
	margin: 0;
	padding-top: .5vw;
	padding-bottom: 25px;
	font-size: 25px;
}


main{
	max-width: 800px;
	margin: 0 auto; 
	padding-top: 0px;
	padding-bottom: 200px;
	padding-left: 20px;
	padding-right: 20px;
}

h1 a{
	color: teal;
	font-family: 'Lobster', sans-serif;
}

main a:hover{
	opacity: .5;
	background-color: transparent;
}


h1{
	color: #6ec6ba;
	font-family: 'Lobster', sans-serif;
	padding-top: 30px;
	margin: 5px;
}

main img{
	max-width: 100%;
	object-fit: contain;
	align-content: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

div img{
	max-height: 180px;
	object-fit: contain;
	align-content: center center;
}

h2{
	font-size: 25px;
	color: #6ec6ba;
	margin: 2px;
}

nav a{
	color: white
}
nav a:hover{
	color: white;
	background-color: teal
}

aside{
	float: right;
	padding: 5px;
	width: 200px;
	background-color: #99e6b3;
	border: 4px solid #ccf1d2;
	display: block;
}

footer{
	background-color: teal;
	text-align: right;
	color: white;
	padding-top: 30px;
	padding-bottom: 40px;
	padding-right: 50px;
}

footer p{
	margin: 0;
}
footer a{
	color: white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}

footer img{
	max-width: 100%;
	max-height: 237px;
	object-fit: contain;
	object-position: center center;
}

p.caption{
	color: black;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

a{
	text-decoration: none;
}

a.caption{
	font-family: 'Lato', sans-serif;
}

h1,h2{
	color: teal;
}
